# Terraform working directory
.terraform/

# Terraform state
terraform.tfstate
terraform.tfstate.backup

# Lock file
.terraform.lock.hcl

# Plans you generated
destroy-plan.txt

# Local tfvars (you might create later)
terraform.tfvars
